# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
Frontend/.vscode/*
Frontend/!.vscode/settings.json
Frontend/!.vscode/tasks.json
Frontend/!.vscode/launch.json
Frontend/!.vscode/extensions.json
Frontend/.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
Frontend/node_modules


Backend/HELP.md
Backend/target/
Backend/!.mvn/wrapper/maven-wrapper.jar
Backend/!**/src/main/**/target/
Backend/!**/src/test/**/target/

### STS ###
Backend/.apt_generated
Backend/.classpath
Backend/.factorypath
Backend/.project
Backend/.settings
Backend/.springBeans
Backend/.sts4-cache

### IntelliJ IDEA ###
Backend/.idea
Backend/*.iws
Backend/*.iml
Backend/*.ipr

### NetBeans ###
Backend/nbproject/private/
Backend/nbbuild/
Backend/dist/
Backend/nbdist/
Backend/.nb-gradle/
Backend/build/
Backend/!**/src/main/**/build/
Backend/!**/src/test/**/build/

### VS Code ###
Backend/.vscode/
